---
import { Text, LinkList } from "@components/base";
import {
  internalLinks,
  contactLinks,
  socialLinks,
  toolsLinks,
  otherResources,
} from "../../routes";
---

<footer class="footer">
  <div class="footer_container">
    {
      internalLinks.some((x) => x.isActive) && (
        <div>
          <Text tag="h4">Site Map</Text>
          <LinkList linkType="simple" linkList={internalLinks} />
        </div>
      )
    }
    {
      contactLinks.some((x) => x.isActive) && (
        <div class="footer_contact">
          <Text tag="h4">Contact</Text>
          <LinkList linkType="simple" linkList={contactLinks} />
        </div>
      )
    }
    {
      socialLinks.some((x) => x.isActive) && (
        <div class="footer_contact">
          <Text tag="h4">Social Media</Text>
          <LinkList linkType="simple" linkList={socialLinks} />
        </div>
      )
    }

    {
      toolsLinks.some((x) => x.isActive) && (
        <div>
          <Text tag="h4">Online Tools</Text>
          <LinkList linkType="simple" linkList={toolsLinks} />
        </div>
      )
    }
    {
      otherResources.some((x) => x.isActive) && (
        <div>
          <Text tag="h4">Outside Resources</Text>
          <LinkList linkType="simple" linkList={otherResources} />
        </div>
      )
    }
  </div>
</footer>

<style>
  .footer {
    width: 100%;
    background-color: var(--dark_green);
  }
  .footer_container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .footer_contact {
    display: flex;
    flex-direction: column;
  }
</style>
