---
import { Text, List } from "@components/base";
import {
    internalLinks,
    contactLinks,
    socialLinks,
    toolsLinks,
    otherResources,
} from "../../routes";
---

<footer class="footer">
    <div>
        <h4>Site Map</h4>
        <List linkType="simple" linkList={internalLinks} />
    </div>
    <div class="footer_contact">
        <h4>Contact</h4>
        <List linkType="simple" linkList={contactLinks} />
        <h4>Social Media</h4>

        <List linkType="simple" linkList={socialLinks} />
    </div>

    <div>
        <h4>Online Tools</h4>
        <List linkType="simple" linkList={toolsLinks} />
    </div>

    <div>
        <h4>Outside Resources</h4>
        <List linkType="simple" linkList={otherResources} />
    </div>
</footer>

<style>
    .footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    .footer_contact {
        display: flex;
        flex-direction: column;
    }
</style>
